<?xml version="1.0" encoding="UTF-8"?>
  <system.webServer>
   <rewrite>
    <rules>
      <rule name="Przekierowanie wielu domen do domeny g³ównej z witryn¹" stopProcessing="true">
        <match url="(.*)" />
          <conditions>  
            <add input="{HTTP_HOST}" pattern="^*$" negate="true" />
          </conditions>  
          <action type="Redirect" url="/www/index.php/{R:1}" redirectType="Permanent" />
      </rule>
    </rules>
   </rewrite>
  </system.webServer>
</configuration>